body {
	padding-top: 50px;
}

#healthservices {
	height:auto;
	padding: 20px;
}

#healthservices div {
	height: 400px;
	width: 1200px;
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	transition: all .2s ease-out;
	/* background: url('http://placehold.it/1200x200') center center no-repeat; */
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	margin-bottom: 48px;
  	margin-top:0;
}

#healthservices div:hover {
	box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5);
}

.box {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;

	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}

.health-services-link {
	display: block;
    height: 100%;
    width: 100%;
    z-index: 5;
}

.box-health-services {
	-webkit-flex-grow: 1;
	-moz-flex-grow: 1;
	-o-flex-grow: 1;
	flex-grow: 1;
	position: relative;
}

.box-health-servicesa {
	-webkit-flex-grow: 1;
	-moz-flex-grow: 1;
	-o-flex-grow: 1;
	flex-grow: 1;
	background: url("../img/chiro.jpg") center center no-repeat;
	position: relative;
}

.box-health-servicesb {
	-webkit-flex-grow: 1;
	-moz-flex-grow: 1;
	-o-flex-grow: 1;
	flex-grow: 1;
	background: url("../img/art.jpg") center center no-repeat;
	position: relative;
}

.box-health-servicesc {
	-webkit-flex-grow: 1;
	-moz-flex-grow: 1;
	-o-flex-grow: 1;
	flex-grow: 1;
	background: url("../img/fit.jpg") center center no-repeat;
	position: relative;
}
.box-health-servicesd {
	-webkit-flex-grow: 1;
	-moz-flex-grow: 1;
	-o-flex-grow: 1;
	flex-grow: 1;
	background: url("../img/massage.jpg") center center no-repeat;
	position: relative;
}
.box-health-servicese {
	-webkit-flex-grow: 1;
	-moz-flex-grow: 1;
	-o-flex-grow: 1;
	flex-grow: 1;
	background: url("../img/lightforcetherapy2.jpg") center center no-repeat;
	position: relative;
}
.box-health-servicesf {
	-webkit-flex-grow: 1;
	-moz-flex-grow: 1;
	-o-flex-grow: 1;
	flex-grow: 1;
	background: url("../img/hiking.jpg") center center no-repeat;
	position: relative;
}
.box-health-servicesg {
	-webkit-flex-grow: 1;
	-moz-flex-grow: 1;
	-o-flex-grow: 1;
	flex-grow: 1;
	background: url("../img/strength.jpg") center center no-repeat;
	position: relative;
}
.box-health-servicesh {
	-webkit-flex-grow: 1;
	-moz-flex-grow: 1;
	-o-flex-grow: 1;
	flex-grow: 1;
	background: url("../img/foot.jpg") center center no-repeat;
	position: relative;
}
.box-health-servicesi {
	-webkit-flex-grow: 1;
	-moz-flex-grow: 1;
	-o-flex-grow: 1;
	flex-grow: 1;
	background: url("../img/golf.jpg") center center no-repeat;
	position: relative;
}
.box-health-servicesj {
	-webkit-flex-grow: 1;
	-moz-flex-grow: 1;
	-o-flex-grow: 1;
	flex-grow: 1;
	background: url("../img/medical.jpg") center center no-repeat;
	position: relative;
}