body {
	padding-top: 50px;
}

#performance {
	height:auto;
	padding: 20px;
}

#performance div {
	height: 400px;
	width: 600px;
	-webkit-transition: box-shadow .2s ease-out;
	-moz-transition: box-shadow .2s ease-out;
	transition: box-shadow .2s ease-out;
	background: url('http://placehold.it/600x400') center center no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	margin-bottom: 16px;
  	margin-top:0;
}

#performance div:hover {
	box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.3);
}

.box {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;

	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}

.box-performance-centre {
	-webkit-flex-grow: 1;
	-moz-flex-grow: 1;
	-o-flex-grow: 1;
	flex-grow: 1;
}