body {
	padding-top: 50px;
}

#performance {
	height:auto;
	padding: 20px;
}

#performance div {
	height: 400px;
	width: 600px;
	-webkit-transition: box-shadow .2s ease-out;
	-moz-transition: box-shadow .2s ease-out;
	transition: box-shadow .2s ease-out;
	
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	margin-bottom: 16px;
  	margin-top:0;
}

#performance div:hover {
	box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.3);
}

.box {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;

	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}


.box-performance-centre1 {
	-webkit-flex-grow: 1;
	-moz-flex-grow: 1;
	-o-flex-grow: 1;
	flex-grow: 1;
	background: url("../img/about.jpeg") center center no-repeat;
	position: relative;
}

.box-performance-centre2 {
	-webkit-flex-grow: 1;
	-moz-flex-grow: 1;
	-o-flex-grow: 1;
	flex-grow: 1;
	background: url("../img/dancingworkout.jpg") center center no-repeat;
	position: relative;
}

.box-performance-centre3 {
	-webkit-flex-grow: 1;
	-moz-flex-grow: 1;
	-o-flex-grow: 1;
	flex-grow: 1;
	background: url("../img/schedule.jpg") center center no-repeat;
	position: relative;
}

.box-performance-centre4 {
	-webkit-flex-grow: 1;
	-moz-flex-grow: 1;
	-o-flex-grow: 1;
	flex-grow: 1;
	background: url("../img/canadian-money.jpg") center center no-repeat;
	position: relative;
}

.performance-title {
	position: absolute;
	text-align: right;
	z-index: 2;
	bottom: 0;
	right: 0;
	color: #fff;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.6);
	padding-right: 8px;
	padding-bottom: 2px;
}

.performance-link {
	display: block;
    height: 100%;
    width: 100%;
    z-index: 5;
}