html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
 /* =========================================================
  * Above calls a natural box layout model to all elements.
  * Below calls no padding on all elements, define everything.
  * ========================================================= */

* {
	padding: 0;
	margin: 0;
	font-family: 'Istok Web', sans-serif;
	font-size: 1rem;
}

 /* =========================================================
  * GLOBAL STYLES - These are hidden from the code section
  * and used only to stylize the style guide.
  * ========================================================= */

body {
	color: #000;
	background-color: #fff;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#hero {
	width: 100%;
	height: 350px;
	background: url("../img/new-optimal.jpg") no-repeat center top fixed;
/*	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;*/
}

.hero-text {
	position: absolute;
	top: 150px;
	font-size: 3em;
	color: #fff;
	text-align: center;
	padding-bottom: 24px;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.6);
}

.container {
	margin: 0 auto;
	padding: 0 12px;
	font-size: 0px;
	margin-top: 50px;
}

.container.open {
	opacity: .40;
}

.section {
	margin-top: 48px;
}

.section-title {
	margin-left: 12px;
	margin-bottom: 12px;
}
.section-instruction {
	margin-left: 12px;
}
.parent-element {
	font-size: 0px;
}

.has-trans {
	transition: all 150ms ease-out;
	-webkit-transition: all 150ms ease-out;
	-moz-transition: all 150ms ease-out;
}

.hidden-sm {
	display: inline-block;
}

 /* =========================================================
  * IMAGE STYLES - each images default styles
  * ========================================================= */

img {
	max-width: 100%;
	/*border-radius: 10px;*/
	border: 0px solid #000;
	display: block;
	height: auto;
	box-sizing: border-box;
	margin: 0 auto;
}

.img {
	position: relative;
    float: left;
    width:  100%;
    height: 200px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}

.locations {
	position: relative;
	padding-bottom: 32px;
}

.location01 {
	background-image: url("../img/location01.jpg");
	margin-bottom: 8px;
	opacity: 1;
}

.location02 {
	background-image: url("../img/location02.jpg");
	margin-bottom: 8px;
	opacity: 1;
}

.location03 {
	background-image: url("../img/location03.jpg");
	margin-bottom: 8px;
	opacity: 1;
}

.location-title {
	position: absolute;
	z-index: 2;
	bottom: 0;
	right: 0;
	color: #fff;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.6);
	padding-right: 8px;
	padding-bottom: 2px;
}

.location-info {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	color: #fff;
}

.location-info li {
	opacity: 0;
	margin-left: 8px;
	margin-top: 8px;
}

.locations:hover .location-info li {
	opacity: 1;
}

.location-info-bg {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	background-color: #000;
}

.locations:hover .location-info-bg {
	height: 200px;
	opacity: .6;
}

ul.location-info li {
	font-size: 16px;
	list-style-type: none;
	font-weight: lighter;
	font-size: 1.2em;
}

a.location-link:link {
	color: #e5e5e5;
	font-size: 1em;
	text-decoration: underline;
}

a.location-link:visited {
	color: #e5e5e5;
}

a.location-link:hover {
	color: #fff;
}

div.headline {
	padding: 73px 0 110px;
	text-align: center;
}

div.headline div.logo {
	width: 236px;
	height: 144px;
	margin: 0 auto 26px;
	overflow: hidden;
	text-indent: -9999em;
	background: url(../img/logo.png) center 0 no-repeat;
	background-size: 236px 144px;
}

div.headline h1.logo {
	margin: 10px 0;
	font: 900 90px/100px "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: -2px;
}

div.headline h1.logo small {
	display: block;
	font-size: 22px;
	color: #27AE60;
	margin-top: -24px;
}

section {
	font-size: 0;
	position: relative;
}

.examples h1,
.examples h2,
.examples h3,
.examples h4,
.examples h5,
.examples h6,
.examples p,
.examples small {
	padding-top: 8px;
	display: inline-block;
}

.examples, .code {
	margin: 32px 0 16px 0;
	display: inline-block;
}

.title {
	margin-bottom: 4px;
	color: #555;
	font-family: "Ubuntu"
}

h6.title {
	margin-bottom: 12px;
}

p.type-title {
	display: inline-block;
	color: #555;
	font-size: 14px;
	padding-right: 24px;
	font-family: "Ubuntu"	
}

.inner-code {
	font-family: "Ubuntu";
	color: #fff;
	background-color: #222;
	border: 1px solid #000;
	padding: 8px;
	margin-right: 8px;
	display: inline-block;
	border-radius: 6px;
}

.inner-code p.type-title{
	color: #888;
}

.inner-code .codes {
	font-size: 14px;
	margin-top: 4px;
}

.inner-code span {
	color: #CC9900;
}

/* =========================================================
 * TYPOGRAPHY & SIZING - all styles for typography & tags used.
 * ========================================================= */
section {
	background-color: #fff;
	padding: 32px 48px;
}

h1 {
	font-size: 56px;
	font-weight: 700;
}

h2 {
	font-size: 48px;
	font-weight: 700;
}

h3 {
	font-size: 42px;
	font-weight: 700;
}

h4 {
	font-size: 36px;
	font-weight: 500;
}

h5 {
	font-size: 30px;
	font-weight: 400;
}

h6 {
	font-size: 18px;
	font-weight: 400;
}

p {
	font-size: 16px;
	font-weight: 200;
}

small {
	font-weight: 200;
	font-size: 14px;
}

/* =========================================================
  * INPUT STYLES - each inputs default styles
  * ========================================================= */

.form-default {
	height: 42px;
	width: 250px;
	padding: 8px 24px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 15px;
	line-height: 1.467;
	color: #7F8C8D;
	border: 2px solid #7F8C8D;
	border-radius: 6px;
	box-shadow: none;
	-webkit-transition: border .25s linear,color .25s linear,background-color .25s linear;
	transition: border .25s linear,color .25s linear,background-color .25s linear;
}

textarea {
width: 30em;
height: 10em;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 15px;
color: #7F8C8D;
	border: 2px solid #7F8C8D;
	border-radius: 6px;
	box-shadow: none;
}


.form-default:focus {
	border-color: #27AE60;
	outline: 0;
	box-shadow: none;
}
 /* =========================================================
  * BUTTON STYLES - each buttons default styles
  * ========================================================= */
 .button-link {
 	text-align: center;
 	white-space: normal;
 	padding: 10px 20px;
	font-size: 16px;
	line-height: 24px;
	border-radius: 6px;
	color: #fff;
	background-color: #27AE60;
	-webkit-transition: border .25s linear,color .25s linear,background-color .25s linear;
	transition: border .25s linear,color .25s linear,background-color .25s linear;
	-webkit-font-smoothing: subpixel-antialiased;
	text-decoration: none;
 }

 .button-link:visited{
 	color: #fff;
	background-color: #27AE60;
 }

 .button-link:hover, .button-link:focus {
 	color: #fff;
	background-color: #2ECC71;
	border-color: #2ECC71;
 }

 .button-link:active {
 	background: #95A5A6;
	border-color: #95A5A6;
 }

 /* =========================================================
 * NAV - consistant nav styles 
 * ========================================================= */

nav {
	top: 0;
	position: fixed;
	z-index: 5;
	background-color: #333;
	height: 50px;
	border-bottom: 5px solid #000;
}

nav ul {
	width: 100%;
	font-size: 0;
}

nav ul li {
	width: 100%;
	color: #878787;
	position: relative;
}

nav ul li a:link {
	font-family: 'Muli', sans-serif;
	display: block;
	width: 100%;
	color: #878787;
	line-height: 50px;
	text-decoration: none;
	text-align: center;
	list-style-type: none;

	-webkit-translation: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;
}

nav ul li a:visited {
	color: #878787;
	text-decoration: none;
}

nav ul li a:hover, nav ul li a:focus {
	background-color: #000;
	color: #e5e5e5;
	text-decoration: none;
}

nav ul li a:active {
	color: #edce60;
	text-decoration: none;
}

nav ul li.active a {
	color: #edce60;
}

ul.examples {
	list-style-type: none;
}
ul.examples li {
	padding: .5em 0;
}
a:link {
	font-weight: 200;
	color: #217ABF;
	list-style-type: none;
	text-decoration: none;
}

a:visited {
	color: #217ABF;
	text-decoration: none;
}

a:hover, nav ul li a:focus {
	color: #064A7E;
	text-decoration: none;
}

a:active {
	color: #064A7E;
	text-decoration: none;
}

ul li a.logo {
	text-indent: 35px;
	width: 100%;
	background: url('../img/logo-white.png') no-repeat center center;
	background-size: 59px;
	content: "";
}

ul li a.logo:hover {
	color: #fff;
}

 /* =========================================================
 * FOOTER STYLES - 
 * ========================================================= */

footer {
	text-align: center;
	min-height: 200px;
	background-color: #262626;
	padding-top: 150px;
	border-bottom: 5px solid #000;
	margin-bottom: -2px;
	-webkit-animation-delay: .5s; /* Chrome, Safari, Opera */
    animation-delay: .5s;
}

 footer a:link, footer a:visited, footer a:active {
	color: #595959;
	font-size: 1.2em;
}

footer a i {
	padding: 24px;
}

footer a:hover {
	color: #e5e5e5;
}

 /* =========================================================
 * Mobile Menu - hidden with margins until bars are selected
 * ========================================================= */

 nav button {
 	line-height: 40px;
	width: 50px;
	background-color: #222;
	border: none;
	outline: 0;
 }

 nav button i {
		line-height: 50px;
		width: 100%;
		color: #fff;
	}

 .page-title-mobile {
 	padding-left: 20px;
 	line-height: 50px;
 	color: #fff;
 	font-size: .8em;
 }

#menu-mobile {
	width: 60%;
	height: 100%;
	position: fixed;
	top:0;
	left:0;
	margin-left: -60%;
	margin-top: 50px;
	background: #111;
	z-index: 10;

	border-left: 1px solid rgba(0,0,0,0.1);
	-moz-transition: 	all .28s cubic-bezier(.4,0,.2,1);
	-webkit-transition: all .28s cubic-bezier(.4,0,.2,1);
	transition: 		all .28s cubic-bezier(.4,0,.2,1);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
/*	padding: 20px;
	padding-top: 84px;*/
}

#menu-mobile.open {
	margin-left: 0;
}

#button-mobile {
	padding-top: 5px;
}

#button-mobile.open i {
	color: #27AE60;
	padding-top: 5px;
}

 /* =========================================================
 * WIDTH CLASSES - percentages used to maintain inline-blocks
 * ========================================================= */

.hundred {
	box-sizing: border-box;
	display: inline-block;
	width: 100%;
}

.ninty {
	box-sizing: border-box;
	display: inline-block;
	height: auto;
	width: 90%;
}

.eighty {
	box-sizing: border-box;
	display: inline-block;
	height: auto;
	width: 80%;
}

.seventy {
	box-sizing: border-box;
	display: inline-block;
	height: auto;
	width: 70%;
}

.sixty {
	box-sizing: border-box;
	display: inline-block;
	height: auto;
	width: 60%;
}

.fifty {
	vertical-align: top;
	box-sizing: border-box;
	display: inline-block;
	height: auto;
	width: 50%;
}

.fourty {
	box-sizing: border-box;
	display: inline-block;
	height: auto;
	width: 40%;
}

.third {
	vertical-align: top;
	box-sizing: border-box;
	display: inline-block;
	height: auto;
	width: 33.33%;
}

.thirty {
	box-sizing: border-box;
	display: inline-block;
	height: auto;
	width: 30%;
}

.quarter {
	box-sizing: border-box;
	display: inline-block;
	height: auto;
	width: 25%;
}

.twenty {
	box-sizing: border-box;
	display: inline-block;
	height: auto;
	width: 20%;
}

.ten {
	box-sizing: border-box;
	display: inline-block;
	height: auto;
	width: 10%;
}

 /* =========================================================
  * PAGE BY PAGE STYLES - all styles for individual pages.
  * ========================================================= */

/* index.html */

#introduction-information {
	overflow: hidden;
}

#introduction-information img {

}

#introduction-information p {
	padding: 16px;
	padding-left: 0;
}

/* =========================================================
 * FOOTER STYLES - 
 * ========================================================= */

footer {
	text-align: center;
	min-height: 200px;
	background-color: #262626;
	padding-top: 60px;
	border-bottom: 5px solid #000;
	margin-bottom: -2px;
}

footer p {
	padding-top: 12px;
}

 footer a:link, footer a:visited, footer a:active {
	color: #767676;
	font-size: 1.2em;
}

footer a i {
	padding: 24px;
}

footer a:hover {
	color: #e5e5e5;
}